/*============================================
    Terms and Conditions Page
==============================================*/
body{
  font-size: 20px;
  background-color: transparent !important;
  width: 100vw;
  font-family: helvetica;
}

a{
  text-decoration: none;
}

h1{
  margin-top: 0px !important;
  padding-top: 100px;
  font-size: 100px;
}

.section{
  text-align: center;
}


.navbar-header{
  height:70px;
  color: #fff;
}
.personalnav{
  width: 100%;
  position: relative;
  display: block;
  height: 70px;
  margin-bottom: 0 !important;
  border-radius: 0px !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.40);
  padding-bottom: 2px;
  background-color: #161633;
  color:#FFF;
}

.navbar-toggle {
  color: #FFF;
  font-size: 18px;
  margin-top: 12px !important;
  z-index: 0;
}

.navbar-right {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
  margin-right: 0px !important;

}

.navbar-brand{
  margin-left: 18px;
  color: #FFF;
}
.brand-image{
  margin-top: 10px !important;
  margin-left: 20px;
}
.section img {
  margin-bottom: 1.25em;
}

#nasty1{
  height: 650px;
  background-color: #795548;
  color: #fff;
}

#nasty2{
  height: 650px;
  background-color: #EF6C00;
  color: #fff;
}

#nasty3{
  height: 650px;
  background-color: #F9A825;
  color: #fff;
}

#nasty4{
  height: 650px;
  background-color: #CDDC39;
  color: #fff;
}

#nasty5{
  height: 650px;
  background-color: #8BC34A;
  color: #fff;
}

#nasty6{
  height: 650px;
  background-color: #4CAF50;
  color: #fff;
}
